{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ios >= 8",
            "android >= 4.2"
          ]
        }
      }
    ]
  ],
  
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]}